<nav class="nav nav-admin">
  <a href="{% url 'admin_dashboard' %}" class="brand">
  <svg class="logo-ico">…</svg>
  <span class="brand-text">Mi<span style="color:var(--orange)">Gym</span></span>
</a>


  <ul>
    <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'socios:lista' %}">Socios</a></li>
    <li><a href="{% url 'pagos:listar' %}">Pagos</a></li>
    <li><a href="{% url 'ocupacion:ocupacion_actual' %}">Ocupación</a></li>
    <li>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;">Salir</button>
      </form>
    </li>
  </ul>
</nav>